.members {
}
.members__container {
    display: flex;
    padding: 25px 9px 0;
}
.members__column {
    width: 394px;
    flex: 1 1 auto;
    margin: 0 7px;
    padding: 0 8px;
}
.members__title {
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    padding: 10px 0;
}

.search {
    display: flex;
    align-items: center;
}
.filter__item {
    padding: 0 0 0.35px 0.35px;
    height: 18px;
    width: 18px;
}
.search__icon {
    margin: 0 0 -1px 0;
}
.search__input {
    margin: 0 0 1px 13px;
    color: rgba(0, 0, 0, 0.38);
    input[type="text"] {
        font-weight: 500;
        font-size: 12px;
        font-stretch: ultra-condensed;
        border: 0;
        outline: none;
        width: 100px
    }
}

.search__block {
    margin-top: 11px;
    display: flex;
}

.members__filters {
    display: flex;
    flex-wrap: wrap;
    margin: 28px -15px;
}
.filters__block-huge {
    margin: 0 15px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters__block {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 182px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); 
    select {
        margin: 0 0 0 -4px;
        border: 0;
        outline: none;
    }
}
.filter__search {
    padding: 21px 0 6px;
}

.filter__dropdown {
    margin: 9px 1px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); 
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    select {
        margin: 0 0 0 -4px;
        border: 0;
        outline: none;
    }
}
.dropdown__title {
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
    option{
        width: 148px;
    }
}
.dropdown__text {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
}

.members__bottom-row {
    margin-top: -10px;
    display: flex;
}

.bottom-row__info {
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.bottom-row__buttons{
    margin-left: 22px;
    display: flex;
}

.button-icon__text {
    font-weight: 600;
    font-size: 12px;
}

.button-icon__icon {
    margin-left: 15px;
}

.button-row__button {
    width: 130px;
}

.mat-row {
    height: 36px;
    &:hover {
        height: 36px;
        background: rgba(0, 0, 0, 0.04);
    }
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    display: flex;
    align-items: center;
    border: 0;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
}

th.mat-header-cell {
    padding-top: 12px;
    padding-bottom: 10px;
}

td.mat-cell {
    display: flex;
    margin-left: 36px;
}

table {
    width: 100%;
}

.members__list {
    margin-top: -8px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-radius: 4px;
}

.mat-row {
    display: flex;
    align-items: center;
}

.mat-header-row {
    height: 36px;
    display: flex;
    align-items: center;
}
