.mat-row {
    height: 44px;
    padding: 8px 0;
    &:hover {
        height: 44px;
        padding: 8px 0;
        background: rgba(0, 0, 0, 0.04);
        .list__item-2 {
            visibility: visible;
        }
    }
}

th.mat-header-cell {
    padding-top: 4px;
}

tr.mat-header-row {
    height: 32px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 8px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 8px;
}

.mat-column-date {
    width: 10%;
}

.mat-column-name {
    width: 49%;
    padding: 0 0 0 2px;
}

.mat-column-members {
    width: 12%;
    padding: 0 0 0 8px;
}

.mat-column-trainer {
    width: 11%;
    padding: 0 0 0 5px;
}

.mat-column-progress {
    padding: 0 0 0 9px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border: 0;
}

.list__table {
    width: 100%;
    border: none;
    padding: -4px 0;
}
.list__header {
    font-weight: 500;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
}
.list__content {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
}
.list__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__sub-block {
    display: flex;
}
.list__item {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list__item-2 {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 4px;
}