* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    max-width: 1280px;
    min-width: 1280px; //template
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    border-radius: 24px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    &:hover {
        background: rgba(16, 113, 255, 0.04);
    }
    &:focus {
        background: rgba(16, 113, 255, 0.12);
    }
}
.button-icon__icon {
    height: 18px;
    width: 18px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(0, 0, 0, 0.54);
    &-active {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #1071FF
    }
}
.button-icon__text {
    margin: 0 0 0 8px;
}
.text {
    color: rgba(0, 0, 0, 0.54);
    &-active {
        color: #1071FF;
    }
}

.title {
    display: flex;
    flex-direction: column;
}
.title__breadcrumbs {
    margin: 16px 0 16px 0;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}
.title__container {
    display: flex;
    align-items: flex-end;
}
.title__icon {
    margin: 0 0 7px 0;
    height: 32px;
    width: 32px;
}
.title__text {
    margin: 1px 0 0 16px;
    font-weight: bold;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.87);
}

.nav__tab {
    margin: 0 24px 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.54);
    &-active {
        margin: 0 24px -1px 0;
        padding: 0 0 8px 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.87);
        border-bottom: 2px solid #1071FF;;
    }
}

.mat-sort-header-stem {
    background: none;
    display: none!important;
}
  
.mat-sort-header-pointer-middle{
background: none;
display: none!important;
}

.mat-sort-header-indicator{
top: 5px!important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    border-radius: 4px 0 0 4px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    border-radius: 0 4px 4px 0;
}

.mat-dialog-container {
    border-radius: 0 !important;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.08);
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
    right: auto !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    background: #FFFFFF;
    opacity: 0.94;
}